@import url('reset.css');
body{
	background:#555 url(../images/4.jpg) repeat ;
	color:#000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:12px;
	overflow-y:scroll;
}

.cs-text {
	font-size: 50px;
	text-transform: uppercase;
	margin: auto auto 5px auto;
	width: 745px;
	height: 100px;
	padding-left: 20px;
	font-family: 'McLaren', Arial;
	font-weight: 400;
	position: relative;
}

/* Micro clearfix hack by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
.cs-text:before,
.cs-text:after {
	content: " ";
    display: table;
}

.cs-text:after {
	clear: both;
}
/* end clearfix hack */

.cs-text span {
	cursor: default;
	display: block;
	float: left;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin: 0 0 0 -20px;
	color: red;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.cs-text span:nth-child(odd) {
	background:white  url(../images/noise.png); 
}

.cs-text span:nth-child(even) {
	background: white url(../images/noise.png); 
}
  

.cs-text span:nth-child(1) {
	-webkit-transform: translate(400%) translate(-80px);
	-moz-transform: translate(400%) translate(-80px);
	-o-transform: translate(400%) translate(-80px);
	-ms-transform: translate(400%) translate(-80px);
	transform: translate(400%) translate(-80px);
}

.cs-text span:nth-child(2) {
	-webkit-transform: translate(300%) translate(-60px);
	-moz-transform: translate(300%) translate(-60px);
	-o-transform: translate(300%) translate(-60px);
	-ms-transform: translate(300%) translate(-60px);
	transform: translate(300%) translate(-60px);
}

.cs-text span:nth-child(3) {
	-webkit-transform: translate(200%) translate(-40px);
	-moz-transform: translate(200%) translate(-40px);
	-o-transform: translate(200%) translate(-40px);
	-ms-transform: translate(200%) translate(-40px);
	transform: translate(200%) translate(-40px);
}

.cs-text span:nth-child(4) {
	-webkit-transform: translate(100%) translate(-20px);
	-moz-transform: translate(100%) translate(-20px);
	-o-transform: translate(100%) translate(-20px);
	-ms-transform: translate(100%) translate(-20px);
	transform: translate(100%) translate(-20px);
}

.cs-text span:nth-child(6) {
	-webkit-transform: translate(-100%) translate(20px);
	-moz-transform: translate(-100%) translate(20px);
	-o-transform: translate(-100%) translate(20px);
	-ms-transform: translate(-100%) translate(20px);
	transform: translate(-100%) translate(20px);
}

.cs-text span:nth-child(7) {
	-webkit-transform: translate(-200%) translate(40px);
	-moz-transform: translate(-200%) translate(40px);
	-o-transform: translate(-200%) translate(40px);
	-ms-transform: translate(-200%) translate(40px);
	transform: translate(-200%) translate(40px);
}

.cs-text span:nth-child(8) {
	-webkit-transform: translate(-300%) translate(60px);
	-moz-transform: translate(-300%) translate(60px);
	-o-transform: translate(-300%) translate(60px);
	-ms-transform: translate(-300%) translate(60px);
	transform: translate(-300%) translate(60px);
}

.cs-text span:nth-child(9) {
	-webkit-transform: translate(-400%) translate(80px);
	-moz-transform: translate(-400%) translate(80px);
	-o-transform: translate(-400%) translate(80px);
	-ms-transform: translate(-400%) translate(80px);
	transform: translate(-400%) translate(80px);
}


.cs-text span:not(:last-child) {
	opacity: 0;
	pointer-events: none;
}

.cs-text span:last-child{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50px;
	z-index: 100;
	background:none;
}

.cs-text:hover span:not(:last-child){
	-webkit-transform: translate(0%);
	-moz-transform: translate(0%);
	-o-transform: translate(0%);
	-ms-transform: translate(0%);
	transform: translate(0%);
	opacity: 1;
}

.cs-text:hover span:last-child {
	opacity: 0;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}
.content{
	width:100%;
	position:relative;
	margin:20px 0 0 0;
	clear:both;
}
/* ---------------------------------------------------------------------------------------------------*/
.Personal_Information {
	   
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
		margin-left:10%;
		margin-right:10%;
	    font-weight:700;
		font-size:20px;
	    margin-top: auto;
	    background-color: rgba(255, 255, 255, 0.8); 
		height:500px;
		width:80%;
		
		transition:all 0.5s ease;
		
}

.Personal_Information:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
	background:rgba(255, 255, 255, 1);;
}


.portrait {
	background-image: url(../images/3.jpg);
	background-position:top 25% left 40%; 
	height: 350px;
	width: 350px;
	float : right;
	margin: 15px;
	opacity: 1.0;
}
.caption {
	background-image: url(../images/2.jpg);
	text-shadow:1px 1px 1px black;
	text-align: center;
	padding-top:15px;
	height:50px;
	color:white;
	opacity: 0.8;
}
.text{
	width:750px;
    margin-top:10%;
	margin-left:5%;
	font-size: 1.25em;
	
}
.btn1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: black;
} 
.btn1 span {
  text-decoration:underline;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
} 
.btn1 span:before {
  text-decoration:none;
  position: absolute;
  width: 100%;
  color: rgb(8, 120, 213);
  left: 0;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
} 
.btn1:hover span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

